body {
	background-color: #e3e7ed;
	color: #0e187c;
	font-family: Georgia, Times, Times New Roman, serif;
	text-align: center;
	font-size: 1.1em;
}

form {
	text-align: left;
	width: 60%;
	margin: 15px auto;
	padding: 10px;
}

input {
	border-radius: 5px;
}

label {
	margin-right: 5px;
}

hr {
	width: 75%;
	border-color: #0e187c;
}

.main-container {
	background-color: #559ec3;
	width: 50%;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #0e187c;
}

.input {
	margin: 5px;
}

.button {
	text-align: center;
}

.display {
	margin: 15px auto;
	padding: 10px;
	width: 75%;
	border-radius: 7px;
}

.name {
	background-color: #3fdb78;
	font-size: 1.2em;
}

.error {
	background-color: #d1381d;
	color: #3d3e42;
	font-style: oblique;
}

.fa {
	margin-right: 5px;
}